<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @note.comment %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @note.trip_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @note.place_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
